<div style="display:flex">
<!-- LISTE USERS -->
<div style="width:30%; background:#eee; padding:10px">
    <h3>Utilisateurs</h3>
    {% for u in users %}
        {% if u != current %}
            <a href="/chat?user={{u}}">{{u}}</a><br>
        {% endif %}
    {% endfor %}
</div>
<!-- CHAT -->
<div style="width:70%; padding:10px">
    <h2>Bienvenue {{current}}</h2>
    {% if selected_user %}
        <h3>Discussion avec {{selected_user}}</h3>
        <div style="background:#ddd; padding:10px; height:200px; overflow:auto">
            {% for m in messages %}
                <p><b>{{m.sender}}</b>: {{m.text}}</p>
            {% endfor %}
        </div>
        <form method="POST">
            <input type="hidden" name="receiver" value="{{selected_user}}">
            <input name="message" placeholder="Message">
            <button type="submit">Envoyer</button>
        </form>
    {% else %}
        <p>👉 Clique sur un utilisateur</p>
    {% endif %}
</div>
</div>
